@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap');
body {
    background-color: #333333;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    color: #fff;
}

a {
    color: rgb(144, 241, 212);
}

a:hover {
    color: rgb(6, 83, 60);
    text-decoration: none;
}

.container {
    background-color: #333333;
    width: 90%;
    margin: 0 auto;
    /* padding: 0; */
    padding-right: 100px;
    padding-left: 100px;
    max-width: 100%;
}

.row {
    text-align: center
}

.nav {
    margin-left: 0 4em 0 4em;
    width: auto;
    height: 5em;
}

.nav-link {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 0.5em;
}

.nav-link:hover {
    opacity: 0.8;
    color: #fff;
}

.display-4 {
    /* color: rgb(107, 86, 124); */
    color: rgb(144, 241, 212);
}

.pricing {
    color: #000 !important;
}

.pricing-header {
    max-width: 700px;
}

.lead {
    color: #fff;
}

.card-deck .card {
    min-width: 220px;
    display: flex;
    position: relative;
    color: inherit
}

.carousel-text {
    color: #fff;
    /* opacity: .6; */
}

h5.carousel-text {
    color: rgb(144, 241, 212);
    ;
}

.d-block {
    position: center;
}

.faq-header {
    color: rgb(144, 241, 212);
    margin-bottom: 45px;
}

.btn {
    color: #fff;
    background: rgb(6, 83, 60);
    border-color: rgb(6, 83, 60);
    ;
}

.btn-lg {
    color: rgb(6, 83, 60);
    background-color: #fff;
    border-color: rgb(6, 83, 60);
}

.btn:hover {
    color: white;
    background-color: rgb(6, 83, 60);
    border-color: rgb(6, 83, 60);
}

.tech1 {
    padding-top: 100px;
}

.tech2 {
    padding-top: 50px;
}

#bottom-tech {
    padding: 50px;
}